{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {# templates/components/about.html.twig #}
    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/img/progress.webp" alt="Over Progress" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h2>Over Progress</h2>
                <p>Progress is jouw ultieme fitnesspartner! Met ons platform houd je eenvoudig je trainingen bij, stel je doelen en volg je jouw vooruitgang met gedetailleerde statistieken. Of je nu net begint of een ervaren sporter bent, wij helpen je om sterker en fitter te worden.</p>
                <p>Sluit je aan bij onze community en bereik je fitnessdoelen sneller dan ooit!</p>
                <a href="" class="btn btn-primary">Bekijk trainingen</a>
            </div>
        </div>
    </section>

</div>
{% endblock %}
